[Unit]
Description=matryx-control-http
After=network.target

[Service]
WorkingDirectory=/home/knifa/matryx_zmq
ExecStart=/home/knifa/matryx_zmq/build/matryx_zmq
Restart=always

[Install]
WantedBy=multi-user.target
